<label for="favorite-cookie">What's your favorite cookie?</label>
{{#select-menu id="favorite-cookie" selection=favoriteCookie prompt=prompt}}
  {{#each this}}
    {{#select-menu-option model=this}}
      {{this}}
    {{/select-menu-option}}
  {{/each}}
{{/select-menu}}

<div id="favorite">{{favoriteCookie}}</div>
