<label for="favorite-cookie">What's your favorite cookie?</label>
{{#select-menu id="favorite-cookie" value=favoriteCookie prompt=prompt disabled=isDisabled}}
  {{#each this}}
    {{select-option label=name id=id value=this disabled=disabled}}
  {{/each}}
{{/select-menu}}

<div id="favorite">{{favoriteCookie.name}}</div>
